<?xml version="1.0"?>
<config>
	<modules>
		<Dzinehub_Brands>
			<version>1.0.0</version>
		</Dzinehub_Brands>
	</modules>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<brands after="Mage_Adminhtml">Dzinehub_Brands_Adminhtml</brands>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<global>
		<blocks>
			<brands>
				<class>Dzinehub_Brands_Block</class>
			</brands>
		</blocks>
		<models>
			<brands>
				<class>Dzinehub_Brands_Model</class>
				<resourceModel>brands_mysql4</resourceModel>
			</brands>
			<brands_mysql4>
				<class>Dzinehub_Brands_Model_Mysql4</class>
				<entities>
					<brands>
						<table>dz_brands</table>
					</brands>
				</entities>
			</brands_mysql4>
		</models>
		<resources>
			<brands_setup>
				<setup>
					<module>Dzinehub_Brands</module>
					<class>Dzinehub_Brands_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</brands_setup>
			<brands_read>
				<connection>
					<use>core_read</use>
				</connection>
			</brands_read>
			<brands_write>
				<connection>
					<use>core_write</use>
				</connection>
			</brands_write>
		</resources>
		<helpers>
			<brands>
				<class>Dzinehub_Brands_Helper</class>
			</brands>
		</helpers>
	</global>
</config>